@import 'styles/index.scss';

.home-page {
  height: 100vh;
  width: 100vw;

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6rem;
    
    h1 {
      font-size: 3.5rem;
      font-weight: 700;
    }

    h4 {
      padding: 1rem 0;
      font-size: 2rem;
    }
    
    .get-started {
      height: 4rem;
      width: 12rem;
      background-color: $blue;
      border: none;
      font-size: 1.5rem;
      font-weight: 600;
      color: $white;
      text-decoration: none;

      &:hover {
        background-color: rgba($blue, 0.8);
      }
    }
  }

  .credits {
    position: fixed;
    bottom: 1rem;
    left: 2rem;
  }
}